.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
node_modules/
.DS_Store

simulator/output/
demos/quickpizza/app/vendor/
demos/quickpizza/app/bin/
demos/quickpizza/k6/kassandra/
demos/pageturn/k6/kassandra/
demos/pageturn/.venv/

key.yml
summary.json
.ruff_cache/
